<div>
    <div class="flex justify-between items-center gap-3 mx-auto md:w-[50%] w-full">
        <input
            class="border rounded px-4 py-2 w-full"
            placeholder="Search videos..."
            #videoQuery
            (keyup.enter)="searchVideos(videoQuery.value)"
        />

        <button
            class="bg-red-600 text-white px-4 py-2 rounded"
            (click)="searchVideos(videoQuery.value)"
        >
            Buscar
        </button>
    </div>

    @if (videoService.isLoading()) {
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
            @for (skeleton of skeletonArray; track $index) {
                <div class="animate-pulse">
                    <div class="bg-gray-200 rounded-lg aspect-video w-full"></div>
                    <div class="bg-gray-200 h-4 rounded mt-2 w-3/4"></div>
                </div>
            }
        </div>
    } @else {
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
            @for (video of videoService.videos(); track $index) {
                <app-video-preview [videoInfo]="video" />
            }
        </div>
    }
</div>